body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffdb8e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ingredients-container,
.burger-container {
  width: 50%;
  margin: 20px;
  border: 6px solid #acffa2;
  border-radius: 12px;
  padding: 0 15px 40px;
  background: #d4ffcf;
}

.ingredient-block {
  font-size: 22px;
  padding: 0 40px;
}

h1 {
  text-align: center;
}

.ingredient-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 20px 0 0;
}

.ingredient-name {
  width: 55px;
  text-align: center;
}

.add-btn {
  width: 100px;
  height: 100px;
  padding: 0;
  border: 0;
  border-radius: 12px;
  overflow: hidden;
  background: transparent;
}

.add-btn img {
  width: 100px;
  height: 100px;
}

.remove-btn {
  width: 50px;
  height: 50px;
  border: 0;
  background: url("https://cdn-icons-png.flaticon.com/128/1828/1828851.png") center center / contain;
  font-size: 18px;
  border-radius: 12px;
}