body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ingredients-container,
.burger-container {
  width: 50%;
  margin: 20px;
  border: 4px solid #000;
  border-radius: 12px;
  padding: 0 30px 40px;
}

h1 {
  text-align: center;
}

.ingredient-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 5px 0;
}

.ingredient-name {
  width: 55px;
  text-align: center;
}

.add-btn {
  width: 100px;
  height: 100px;
  padding: 0;
  border: 0;
}

.add-btn img {
  height: 100%;
}